<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div ng-controller="monControleur as monCtrl" class="col-xs-6 col-xs-offset-3" >
        <h1>{{ monCtrl.message }}{{ monCtrl.user.name }}{{monCtrl.getName()}}</h1>
        <input type="text" class="form-control" ng-model="monCtrl.user.name">
        <button class ="btn btn-success" ng-click="monCtrl.click('one.html')">Contenu 1</button>
        <button class ="btn btn-success" ng-click="monCtrl.click('two.html')">Contenu 2</button>
        <ng-include src="monCtrl.page"></ng-include>
      </div>
    </div>
  </div>
  <script src="build.js"></script>
</body>

</html>