<div>
  <div ng-if="!$ctrl.pizzas"><img src="images/ring.gif"></div>
  <div>
    <table ng-if="$ctrl.pizzas" class="table">
      <thead>
        <tr>
          <th ng-click="predicate ='name'; reverse = !reverse">NOM</th>
          <th ng-click="predicate ='_toppingsLenght'; reverse = !reverse ">TOPPINGS</th>
          <th ng-click="predicate ='prix'; reverse = !reverse ">PRIX</th>
          <th ng-click="predicate ='status'; reverse = !reverse ">Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pizza in $ctrl.pizzas | orderBy:predicate:reverse track by $index">
          <td><a href="#/pizzas/{{pizza.id}}"> {{ pizza.name }} </a></td>
          <td>{{ pizza._toppings }}</td>
          <td>{{ pizza.prix | currency:'€':2}}</td>
          <td>
            <button ng-click="$ctrl.cookPizza(pizza)" ng-if="!pizza.status" class="btn">cook me</button>
            <span ng-if="pizza.status">CUITE</span>
          </td>
          <td>
            <button ng-click="$ctrl.deletePizza(pizza)" class="btn btn-danger">delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-success" ng-click="$ctrl.addPizza()">Save</button>
</div>